* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.s-container {
  width: 70%;
  margin: 0 auto;
}

header {
  height: 80px;
  background-color: white;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  width: 60px;
}
header nav {
  margin: 0 20px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 0 10px;
  line-height: 80px;
}
header nav ul li a {
  font-size: 12px;
  color: inherit;
  text-transform: uppercase;
}
header nav ul .active {
  color: #0282f9;
  box-shadow: inset 0 -3px #0282f9;
}
header .header-banner {
  padding: 5px;
  background-color: #0282f9;
  color: white;
  font-size: 10px;
  text-align: right;
}
header .header-banner .top {
  display: block;
}
header .header-banner span {
  margin-left: 10px;
}

.jumbotron {
  height: 300px;
  margin-top: 22px;
  overflow: hidden;
}

.main-section {
  background-color: #1c1c1c;
  position: relative;
  padding-bottom: 40px;
}
.main-section .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
  color: white;
}
.main-section .tag {
  padding: 8px 20px;
  background-color: #0282f9;
  color: white;
  font-size: 23px;
  position: absolute;
  top: -25px;
  left: 150px;
}
.main-section .btn {
  padding: 10px;
  border: 1px solid #0282f9;
}
.main-section .btn a {
  color: white;
}
.main-section .blue {
  border: none;
  background-color: #0282f9;
  display: block;
  width: 210px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.card {
  width: calc(16.6666666667% - 20px);
  margin-top: 10px;
}
.card .product-image {
  height: 200px;
  overflow: hidden;
}
.card .product-image img {
  height: 100%;
}
.card .text {
  margin: 10px 0;
}

.banner {
  background-color: #0282f9;
  padding: 20px;
}
.banner .banner-content {
  display: flex;
  justify-content: space-between;
}
.banner .banner-content .icon-card {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .banner-content .icon-card span {
  margin: 0 10px;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
}
.banner .banner-content .icon-card img {
  width: 40px;
}

.up-footer {
  background-image: url("../img/footer-bg.jpg");
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.up-footer .left-side {
  display: flex;
}
.up-footer .left-side div {
  margin: 5px 10px;
  color: white;
}
.up-footer .left-side ul {
  padding: 20px 0;
}
.up-footer .left-side ul li {
  margin: 5px 0;
}
.up-footer .left-side ul li a {
  color: grey;
}
.up-footer .right-side img {
  width: 500px;
  position: absolute;
  bottom: -40px;
  right: 150px;
  z-index: 1;
}

.bottom-footer {
  height: 100px;
  background-color: #303030;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.bottom-footer .contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-footer .btn {
  padding: 10px;
  border: 1px solid #0282f9;
}
.bottom-footer .btn a {
  color: white;
}
.bottom-footer .socials {
  display: flex;
  align-items: center;
}
.bottom-footer .socials .icon {
  display: flex;
}
.bottom-footer .socials .icon a {
  margin: 0 5px;
  width: 30px;
}
.bottom-footer .socials span {
  color: #0282f9;
  margin: 0 5px;
}

.comic-section .s-container {
  position: relative;
}
.comic-section .img-tag {
  position: absolute;
  top: -245px;
  left: 0px;
}
.comic-section .img-tag img {
  width: 80%;
}
.comic-section h1 {
  padding-top: 60px;
}
.comic-section .main-comic-top {
  padding-bottom: 80px;
  display: flex;
}
.comic-section .main-comic-top .left-side {
  width: 70%;
}
.comic-section .main-comic-top .left-side .price-banner {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  background-color: #55ba59;
  color: white;
  border-bottom: 1px solid black;
}
.comic-section .main-comic-top .left-side .price-banner .green {
  color: #a3e459;
}
.comic-section .main-comic-top .left-side .price-banner .col {
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid black;
  padding: 20px;
}
.comic-section .main-comic-top .left-side .price-banner .s {
  padding: 20px;
}
.comic-section .main-comic-bottom {
  padding-top: 80px;
  background-color: #f6f6f6;
  position: relative;
  z-index: 3;
}
.comic-section .main-comic-bottom .bottom-content {
  display: flex;
  justify-content: space-between;
}
.comic-section .main-comic-bottom .bottom-content .column {
  width: 45%;
}
.comic-section .main-comic-bottom .bottom-content .column .artists, .comic-section .main-comic-bottom .bottom-content .column .writers {
  width: 65%;
  text-align: right;
  font-size: 14px;
}
.comic-section .main-comic-bottom .bottom-content .column h3 {
  padding-bottom: 20px;
}
.comic-section .main-comic-bottom .bottom-content .column ul li {
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.comic-section .main-comic-bottom .bottom-content .column ul li a {
  color: #0282f9;
}
.comic-section .main-comic-bottom .bottom-content .column ul li span {
  color: black;
}
.comic-section .main-comic-bottom .bottom-content .column li:first-child {
  border-top: 1px solid lightgray;
}
.comic-section .main-comic-bottom .icon-banner {
  margin-top: 80px;
  border-top: 1px solid lightgrey;
}
.comic-section .main-comic-bottom .icon-banner .icons-content {
  display: flex;
}
.comic-section .main-comic-bottom .icon-banner .icons-content .icon {
  display: flex;
  justify-content: space-between;
  width: 25%;
  padding: 15px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
.comic-section .main-comic-bottom .icon-banner .icons-content .icon img {
  width: 30px;
  filter: invert(100%) opacity(60%);
}
.comic-section .main-comic-bottom .icon-banner .icons-content .icon span {
  font-size: 12px;
  font-weight: 600;
  color: grey;
}
.comic-section .blue-div {
  height: 60px;
  background-color: #0282f9;
}