
.card {
    width: calc((100% / 6) - 20px);
    margin-top: 10px;
    
    .product-image{
        height: 200px;
        overflow: hidden;
        img {
            height: 100%;
        }
    }

    .text {
        margin: 10px 0;
    }
}

